{{> head }}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam repellendus officiis ex totam harum illum autem doloribus unde iure, odio corporis perspiciatis numquam modi perferendis repudiandae sit temporibus iusto maxime?</p>
    </div>

    <div class="col-4">
        <img src="assets/img/imagen.jpeg" alt="" class="img-thumbnail">
    </div>

</div>

{{> footer }}